# Ignore environment variables everywhere
.env
backend/.env
frontend/.env

# Ignore dependency folders
backend/.venv/
frontend/node_modules/
frontend/dist/

# Ignore python cache
**/__pycache__/
*.pyc